.container {
  text-align: center;
}
.board, .choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.tile {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  font-size: 70px;
}
.choice button {
  text-align: center;
  font-size: 40px;
  min-width: 280px;
}
